.card {

    &.comment {
    
        &.double {
            img {
                height: 240px;
                object-fit: cover;
            }
    
            .col-6:first-child img {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                border-right: 1px solid $white;
            }
    
            .col-6:last-child img {
                border-top-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 1px solid $white;
            }
        }
    }

    &.image-only {
        img {
            border-radius: $border-radius;
        }
    }
}