.owl-carousel {
    background: $white;
    padding: $spacer 0;
    margin-bottom: $spacer * 2;

    &:before {
        content: '';
        background: $text-alterate;
        width: 3px;
        height: 3px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 5px;
        border-radius: 5px;
    }

    .owl-item {
        &.center {
            .day {
                background: rgba($text-alterate, .1);
                height: 30px;
                width: 30px;
                display: block;
                margin: 0 auto;
                border-radius: 100%;
            }
        }

        .day {
            line-height: 30px;
        }

        .letter {
            display: block;
            margin-bottom: 7px;
            color: $text-alterate;
        }

    }
    
}