.owl-carousel {
    background: $white;
    padding: $spacer 0;
    margin-bottom: $spacer * 2;

    .owl-item {
        &.center {
            .day {
                background: rgba($text-alterate, .1);
                height: 30px;
                width: 30px;
                display: block;
                margin: 0 auto;
                border-radius: 100%;
            }
        }

        .day {
            line-height: 30px;
        }

        .letter {
            display: block;
            margin-bottom: 7px;
            color: $text-alterate;
        }

    }
    
}