.floating-activity-btn {
    position: fixed;
    right: 15px;
    bottom: 30px;
    font-size: 30px;
    padding: 0;
    height: 55px;
    width: 55px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
}

.new-activity {

    .modal-content {
        background: $body-bg;
    }

    .card {
        text-align: center;
        transition: all .2s;

        &:hover {
            cursor: pointer;

            transform:scale(1.04);
        }
    }

    i {
        background: rgba($body-color, .2);
        color: $body-color;
        width: 50px;
        height: 50px;
        padding: 13px 0;
        font-size: 22px;
        border-radius: 50%;
        border: 1px solid $body-color;
        margin-bottom: $spacer;

        &.flight {
            background: rgba($primary, .2);
            color: $primary;
            border-color: $primary;
        }

        &.message {
            background: rgba($blue, .2);
            color: $blue;
            border-color: $blue;
        }

        &.hotel {
            background: rgba($green, .2);
            color: $green;
            border-color: $green;
        }

        &.video {
            background: rgba($pink, .2);
            color: $pink;
            border-color: $pink;
        }
    }
}