.navbar-light .offcanvas-collapse {
    position: fixed;
    top: 44px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    left:-300px;
    width: 300px;
    overflow-y: auto;
    visibility: hidden;
    color: $white;
    background-color: $primary;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    align-items:start;
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    &.open {
        left: 0;
        visibility: visible;
    }

    .navbar-nav {
        width: 100%;
        flex-direction: column;

        .nav-item {
            background: $primary-dark;
            width: 100%;
            padding: .5rem 1rem;
    
            .nav-link {
                color: $white;
            }

            button {
                background: none;
                border: none;
            }
        }
    }
}

.fixed-top {
    height: 44px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

.btn-group {
    float: right;
    right: 20px;
    position: absolute;
}


.navbar-toggler {
    border: none;
    padding: 0;
    border-radius: 0;

    span {
        display: block;
        background: $text-primary;
        width: 16px;
        height: 2px;
        margin-bottom: 4px;
        border-radius: 5px;
        
        &:nth-child(2) {
            width: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:focus {
        outline: none;
    }
}

.second-toggler {
    padding: 10px;
    background: none;
    border: none;
}